.error-page {
    display: grid;
    place-items: center;
    align-content: center;
    height: 100vh;
    background: radial-gradient(ellipse at bottom, hsl(var(--deep-dark-blue) / 0.9) 0%, hsl(var(--deep-dark-blue)) 90%);
}

.error-msg,
a {
    color: hsl(var(--white-smoke));
}

//@function multiple-box-shadow ($n) {
//    $value: '#{random(180)}vw #{random(180)}vh #FFF';
//    @for $i from 2 through $n {
//        $value: '#{$value} , #{random(180)}vw #{random(180)}vh #FFF';
//    }
//
//    @return unquote($value);
//}
//
//$shadows-small: multiple-box-shadow(700);
//$shadows-medium: multiple-box-shadow(200);
//$shadows-big: multiple-box-shadow(100);
//
//.stars {
//    position: absolute;
//    top: 0;
//    right: 0;
//    bottom: 0;
//    left: 0;
//
//    &-1 {
//        width: 1px;
//        height: 1px;
//        background: transparent;
//        box-shadow: $shadows-small;
//        animation: animStar 200s linear infinite;
//
//        &:after {
//            content: " ";
//            width: 1px;
//            height: 1px;
//            background: transparent;
//            box-shadow: $shadows-small;
//        }
//    }
//
//    &-2 {
//        width: 2px;
//        height: 2px;
//        background: transparent;
//        box-shadow: $shadows-medium;
//        animation: animStar 300s linear infinite, rotateStar 1350s linear infinite;
//
//        &:after {
//            content: " ";
//            width: 2px;
//            height: 2px;
//            background: transparent;
//            box-shadow: $shadows-medium;
//        }
//    }
//
//    &-3 {
//        width: 3px;
//        height: 3px;
//        background: transparent;
//        box-shadow: $shadows-big;
//        animation: animStar 450s linear infinite, rotateStar 600s linear infinite;
//
//        &:after {
//            content: " ";
//            width: 3px;
//            height: 3px;
//            background: transparent;
//            box-shadow: $shadows-big;
//        }
//    }
//}
//@keyframes animStar {
//    from {
//        transform: translateY(0px);
//    }
//    to {
//        transform: translateY(-2000px);
//    }
//};
//
//@keyframes rotateStar {
//    to {
//        transform: rotate(299deg);
//    }
//}
