@keyframes skeleton {
    0% {
        background-position: -20%;
    }
    40%, 100% {
        background-position: -150%;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    59% {
        opacity: 0;
        transform: translateX(1vw);
    }
    90% {
        opacity: 1;
    }
}
