.collapse-wrapper {
    height: calc(100vh - 226px);
}

.ant-tabs-tabpane {
    position: relative;
    overflow: auto;
}

.ant-upload.ant-upload-drag {
    border: none;
}

.ant-upload.ant-upload-drag .ant-upload {
    padding: 0;
}

.jsoneditor-poweredBy {
    display: none;
}

.readonly .ace-jsoneditor .ace_scroller {
    user-select: none !important;
    pointer-events: none !important;
}

.ant-collapse > .ant-collapse-item > .ant-collapse-header {
    padding: 2px 0;
}

.ant-collapse-content > .ant-collapse-content-box {
    padding-left: 5px;
}

.has-error .jsoneditor {
    border: thin solid red;
}

.ant-table-pagination.ant-pagination {
    display: none !important;
}

.hidden-upload-area {
    .ant-upload.ant-upload-drag {
        border: none;
    }

    .ant-upload.ant-upload-drag .ant-upload {
        padding: 0;
    }
}

.card-container ::ng-deep {
    p {
        margin: 0;
    }

    & > .ant-tabs-card .ant-tabs-content {
        height: calc(100vh - 232px);
        margin-top: -16px;
    }

    & > .ant-tabs-card .ant-tabs-content > .ant-tabs-tabpane {
        padding: 16px;
        background: #fff;
    }

    & > .ant-tabs-card > .ant-tabs-nav::before {
        display: none;
    }

    & > .ant-tabs-card .ant-tabs-tab {
        background: transparent;
        border-color: transparent;
    }

    & > .ant-tabs-card .ant-tabs-tab-active {
        background: #fff;
        border-color: #fff;
    }
}

.ant-tabs-tabpane {
    position: relative;
}
