.info-db {
   display: flex;
   flex-direction: column;
   p {
       margin-bottom: 2px;

       &:not(:last-child){
        position: relative;
        &::after{
            content: '';
            position: absolute;
            bottom: -2px;
            display: block;
            width: 60%;
            height: 1px;
            background-color: #d3d3d3;
         }
     }
   }

   .db-name {
       display: flex;
       flex-direction: row;
       align-items: center;
       gap: 4px;
   }

   .db-url {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 4px;
    }
}

.delete-link {
    color: red;
}

.control-elements {
    display: flex;
}

.filter-input {
    margin-right: 20px;
}

.properties-tags-group {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: center;
    gap: 8px;
}

.properties-tag {
    margin: 0;
    font-size: 14px;
    font-weight: 600;
}
